<div class="card-container">
    <mat-card *ngFor="let sala of salas" class="card">
        <mat-card-header>
            <mat-card-title>{{ sala.nome }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-bar mode="determinate" [value]="sala.pessoas/sala.max_pessoas*100"></mat-progress-bar>
            <div class="progress-text">{{ sala.pessoas }} / {{ sala.max_pessoas }}</div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="removeOne(sala.id)">Remover Um</button>
            <button mat-button (click)="removeAll(sala.id)">Esvaziar Sala</button>
            <button mat-button routerLink="scan" [routerLink]="[sala.id,'scan']">Escanear</button>
        </mat-card-actions>
    </mat-card>
</div>