<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Painel de Administração</mat-card-title>
      <mat-card-subtitle>Criar Salas para o evento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button routerLink="gerenciamento" mat-button>Acessar</button>
    </mat-card-actions>
</mat-card>


<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Gerenciar Salas</mat-card-title>
      <mat-card-subtitle>Escanear e remover pessoas de uma sala, ver lotação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button routerLink="salas" mat-button>Acessar</button>
    </mat-card-actions>
</mat-card>